*,
*::before,
*::after {
	box-sizing: border-box;
}

.position-absolute {
	position: absolute;
}

.overflow-hidden {
	overflow: hidden;
}

.lead-top-container {
	height: 139px;
	padding-top: 30px;
}

.d-flex {
	display: flex;
}

.align-items-center {
	align-items: center;
}

.lead-content {
	margin: auto;
	max-width: 100%;
	min-height: calc(100vh - 60px);
	border-radius: 16px;
	box-shadow: 8px 4px 48px 0px rgba(0, 0, 0, 0.12);
}

.lead-container {
	min-width: 100%;
	height: calc(100vh - 42px);
	top: 0px;
	max-width: 500px;
}

.word-break {
	word-break: break-all;
}

.btn-container {
	width: -webkit-fill-available;
	opacity: 1;
	position: fixed;
	bottom: 0;
	overflow: hidden;
	cursor: pointer;
}

.footer-container {
	margin-bottom: 80px;
}

.custom-text-truncate {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 225px;
}

@media only screen and (min-width: 450px) and (max-width: 671px) {
	.custom-text-truncate {
		max-width: 340px;
	}
}

@media only screen and (min-width: 356px) and (max-width: 449px) {
	.custom-text-truncate {
		max-width: calc(100% - 180px);
	}
}

@media only screen and (min-width: 350px) {
	.address-icon {
		width: 4.5rem !important;
	}
}

@media only screen and (min-width: 400px) {
	.address-icon {
		width: 4rem !important;
	}
}

@media only screen and (min-width: 450px) {
	.content {
		max-width: 500px;
	}

	.container {
		min-width: 500px;
	}
	.btn-container {
		width: 500px;
	}
}

.logo {
	height: 50px;
}

.lead-profile {
	width: 116px;
	height: 116px;
	top: -3.2rem;
	position: relative;
	margin: auto;
	border-radius: 6px;
	border: 2px solid rgba(255, 255, 255, 1);
	box-shadow: 0px 2px 8px rgba(0.5058823823928833, 0.5176470875740051, 0.5333333611488342, 0.15000000596046448);
}

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-column {
	flex-direction: column;
}

.lead-user-image {
	width: 118px;
	height: 118px;
}

.lead-user-name {
	font-weight: 600;
	font-size: 25px;
	line-height: 1;
	word-break: break-word;
	text-align: center;
}

.pronunciation {
	font-style: italic;
	font-weight: 400;
	opacity: 0.7;
}

.lead-user-name-container {
	margin-top: -2rem;
	width: 100%;
}

.pl-4 {
	padding-left: 4px;
}

.pl-12 {
	padding-left: 12px;
}

.mt-0 {
	margin-top: 0px;
}

.mt-5 {
	margin-top: 5px;
}

.mt-16 {
	margin-top: 16px;
}

.mb-0 {
	margin-bottom: 0px;
}

.my-12 {
	margin: 12px 0px;
}

.my-20 {
	margin: 20px 0px;
}

.user-designation {
	text-align: center;
	opacity: 0.7;
}

.company {
	font-size: 20px;
}

.opacity-1 {
	opacity: 1;
}

.font-16 {
	font-size: 16px;
}

.lead-contacts-container {
	margin: 0px 40px;
	margin-bottom: 70px;
}


.sub-title {
	margin-top: 1px;
	margin-bottom: 1px;
	font-weight: 400 !important;
	/*font-size: 15px;*/
	/*color: #1d2535;*/
}

.social-heading {
	font-weight: 400;
	font-size: 20px;
	text-align: center;
	color: #232f3e;
	opacity: 0.5;
}

.grid-layout {
	display: grid;
	margin-top: 10px;
	grid-template-columns: auto auto auto auto;
	justify-content: center;
}

.social-logo {
	height: 3rem;
}

.grid-item {
	padding: 0px 10px;
}

.btn-contact {
	width: 100%;
	/*color: white;*/
}


.lead-svg-container {
	height: 45px;
	width: 45px;
	border-radius: 6px;
	border: 1px solid #e5e5e5;
	text-align: center;
}
.language-dropdown {
	position: relative;
	z-index: 1;
	display: flex;
	flex-direction: row-reverse;
}

.lead-initials_container {
	background-color: white;
}

.lead-initials_styles {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size:48px;
}

#lead-content-container {
	background-size:cover;
	background-position:center;
}
